p{
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title{    
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats{
  font-size: 14px;
  color: #606060;
  margin-bottom: 16px;
}

.video-author{    
  font-size: 14px;
  color: #606060;
  margin-bottom: 16px;
}

.video-desc{    
  font-size: 14px;
  color: #606060;
  width: 280px;
  line-height: 22px;
  margin-bottom: 80px;
}

.apple{
  margin-bottom: 50px;
  font-size: 16px;
  color: white;
  background-color: #e34140;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.example{
  color: white;
  transition: text-decoration 0.15s;
}

.example:hover{
  text-decoration: underline;
  cursor: pointer;
}